.title-label {
    text-style: bold;
    content-align: center middle;
    width: 100%;
    color: aqua;
}

.field-label {
    color: yellow;
}

.error-label {
    color: red;
    height: 0;
}

.sub-field {
    margin: 0 0 0 4;
}

.description {
    height: auto;
    opacity: 0.5;
}

SaveScreen {
    align: center middle;
}

#dialog {
    padding: 0 1;
    width: 60%;
    height: auto;
    border: thick $background 80%;
    background: $surface;
}
